@import "tailwindcss";

:root {
    background: #EBECF0;
}


.wedding-text {
    font-family: "Great Vibes", cursive;
}

.wedding-inner-text {
    font-family: 'Roboto Light', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
}